body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #94aecc;
    }

    header {
      background-color: #006666;
      color: white;
      padding: 20px;
      text-align: center;
    }

    .container {
      display: flex;
      flex-wrap:wrap;
      padding: 30px;
      gap: 25px;
    }

    .box {
      background-color: rgb(154, 71, 90);
      flex: 1 1 calc(40% - 40px);
      padding: 20px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 9px 10px rgba(0,0,0,0.1);
      color: azure;
    }

    /* Tablet view */
    @media (max-width: 992px) {
      .box {
        flex: 1 1 calc(50% - 40px);
      }

      header {
        font-size: 1.5rem;
      }
    }

    /* Mobile view */
    @media (max-width: 600px) {
      .box {
        flex: 1 1 100%;
      }

      header {
        font-size: 1.2rem;
        padding: 15px;
      }
    }